@import "~/assets/styles/general/variables.scss";

.vacancies {  
  &__title {
    font-family: $roboto;
    text-align: center;
    font-size: 30px;
    color: $bnw-10;
    margin-bottom: 39px;
  }

  &__search {
    margin: auto;
    max-width: 760px;
    display: flex;
    margin-bottom: 100px;

    &-input {
      border: 1px solid $bnw-50;
      border-radius: 4px 0px 0px 4px;
      border-right-width: 0;
      padding: 13px 22px;
      width: 100%;
    }

    &-button {
      background: $color-10;
      border: 1px solid $color-30;
      border-radius: 0px 4px 4px 0px;
      color: white;
      padding: 11px 30px;
    }
  }
}
