/node_modules
/public
/public/.htaccess
/storage/*.key
/vendor
/.idea
/nbproject/
/adminer/
.env
.idea/
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
adminer.php
serv.bat
w.bat
laravel-echo-server.json
laravel-echo-server.lock
