@import "~/assets/styles/general/variables.scss";

.skill-bubble {
	display: flex;
	align-items: center;
	width: max-content;
	height: 32px;
	padding: 12px 8px 8px 8px;
	margin: 4px;
	font-family: $helvetica-neue-cyr-light;
	font-size: 14px;
	
	color: #ffffff;
	cursor: default;
	background-color: #48afdb;
	border-radius: 3px;
	transition: 400ms;
	
	&:hover {
		color: #000000;
		background-color: #e8e6e6;
	}
	& > * + * {
		margin-left: 8px;
	}
	&__title {
	}
	&__level {
	}
	&__delete {
		cursor: pointer;
	}
}