/**
 * ==================================================================================
 * Colors
 * ==================================================================================
 */
$bnw-00: #000000; // text
$bnw-10: #5C5B5B; // text
$bnw-16: #6B6868;
$bnw-20: #8F8F8F; // text
$bnw-30: #999997; // text
$bnw-40: #c7c7c7; // normal borders
$bnw-50: #e8e8e8; // pale borders
$bnw-70: #f1f1f1;
$bnw-90: #ffffff;

$color-00: #008e9f; //
$color-07: #159EE8; //
$color-09: #2a8e9f; //
$color-10: #43A5D2; // текст button_2, текст в футере resume-block
$color-11: #47C4B6; //
$color-13: #365b68; // внешняя обводка аватарки,
$color-14: #5FBAFA; //
$color-15: #99d0e7; // На кнопке

$color-17: #63b1b2; // светло-зеленый -----------(внутренняя обводка аватарки)
$color-20: #d0ebf4; // голубой
$color-24: #307592; // сине-зеленый
$color-25: #F0F5F7; // очень светло-голубой
$color-26: #a4ece2; // светло-голубой
$color-30: #e1f2fa; // светло-голубой

$color-40: #6eb7fd; // граница чекбокса
$color-41: #4bb5fe; // цвет галочки чекбокса

$color-50: #bde3f3; // граница инпута (не активного), граница button_2
$color-51: #3D9BE9; // граница инпута (активного),

/**
 * ==================================================================================
 * Fonts
 * ==================================================================================
 */
$circe: 'Circe';

$futura-pt: 'Futura PT';
$futura-pt-book: 'Futura PT Book';

$gotham-pro: 'Gotham Pro';

$helvetica-neue-cyr-light: 'HelveticaNeueCyr-Light';    // +
$helvetica-neue-cyr: 'HelveticaNeueCyr';                // +
$helvetica-neue: 'Helvetica Neue';

$myriad-pro: 'Myriad Pro';

$proxima: 'Proxima Nova Regular';
$proxima-bold: 'Proxima Nova Bold';


$roboto: 'Roboto Regular', 'Roboto', sans-serif;
$roboto-medium: 'Roboto Medium', 'Roboto', sans-serif;
$roboto-light: 'Roboto Light', 'Roboto', sans-serif;
$roboto-thin: 'Roboto Thin', 'Roboto', sans-serif;

$san-francisco: 'SF UI Text';
$san-francisco-pro: 'SFPro Regular';

$whitney: 'Whitney';
$whitney-book: 'Whitney Book';
