@import  "~/assets/styles/general/variables.scss";

.tab-menu {
	font-family: $roboto;
	user-select: none;
}
.tab-menu__inner {
	display: flex;
	border-bottom: 1px solid $bnw-40;
}
.tab-menu__item {
	padding: 12px 20px;
	color: $bnw-16;
	cursor: pointer;
	border-bottom: 1px solid transparent;
	
	&[active] {
		color: $color-00;
		border-bottom-color: $color-00;
	}
}
.tab-menu__item-content {

}